.container {
    margin: 0 auto;
    max-width: 1800px;
    font-family: sans-serif;
}

.heading {
    color: midnightblue;
}
.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
}
.nav-link-item {
    padding-right: 2rem;
}
.nav-link-text {
    color: lightsalmon;
}