@font-face {
    font-family: RocGrotesk;
    font-style: normal;
    font-weight: 400;
    src: url('roc-grotesk/web-fonts/regular.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: RocGrotesk;
    font-style: normal;
    font-weight: 800;
    src: url('Roc Grotesk Wide Bold/Roc Grotesk Bold.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: RocGrotesk;
    font-style: normal;
    font-weight: 500;
    src: url('Space_Grotesk/static/SpaceGrotesk-Medium.ttf') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: Avenir;
    font-style: normal;
    font-weight: 300;
    src: url('Avenir/Avenir Light/Avenir Light.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: Avenir;
    font-style: normal;
    font-weight: 400;
    src: url('Avenir/Avenir-Medium/Avenir-Medium.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    src: url('Avenir/Avenir Heavy/Avenir Heavy.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    src: url('Avenir/Avenir-Black/Avenir-Black.woff2') format('woff2');
    font-display: swap;
}